# ==========================
# Node / React
# ==========================
node_modules/
dist/
build/
coverage/

# ==========================
# .NET
# ==========================
bin/
obj/
.vs/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================
# Visual Studio databases
# ==========================
*.db
*.db-shm
*.db-wal
*.opendb

# ==========================
# VS Code
# ==========================
.vscode/settings.json

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# OS
# ==========================
Thumbs.db
.DS_Store